<div class="container py-9 text-white bg-accent flex items-center justify-between">
  <p class="h2 text-white">About Naiton</p>

  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><span>About Naiton</span></li>
  </ul>
</div>

<section class="container py-12 md-down:text-center">
  <div class="flex lg-down:flex-wrap md:gap-x-6 lg-down:space-y-6">
    <div class="w-full lg:w-3/12">
      <h3>Naiton is a full-fledged ERP</h3>
    </div>

    <div class="w-full lg:w-9/12 space-y-12">
      <div class="space-y-3">
        <p>Comparable to Navision, SAP, Dynamics or Oracle, but it is cheaper, unprecedentedly flexible and very user-friendly. During thorough and detailed selection processes, Naiton often appears to be preferred over competitors such as these.</p>

        <p>The Naiton software platform contains virtually all business processes, housed in a large number of modules, combined into one whole. The projects that are carried out make use of this very broad base and are possibly expanded with functionalities that are necessary for the specific customer.</p>
      </div>

      <picture class="block">
       <source srcset="../assets/img/niafferp.webp 2x, ../assets/img/niafferp.webp 1x" />
       <img src="../assets/img/niafferp.png" width="840" height="435" alt="comparable to navision, sap, dynamics or oracle, but its cheaper, unprecedently flexible and very user friendly" class="w-full object-cover" />
      </picture>
    </div>
  </div>

  <hr class="border-t my-12">

  <div class="flex lg-down:flex-wrap md:gap-x-6 lg-down:space-y-6">
    <div class="w-full lg:w-3/12">
      <h3>All our solutions can be fully used via the cloud</h3>
    </div>

    <div class="w-full lg:w-9/12 space-y-12">
      <div class="space-y-3">
        <p>In addition, all our solutions can be fully used via the cloud from home or mobile on a PC, Laptop, Tablet or Smart Phone.</p>

        <p>In this way we can offer complete ERP, WMS and TMS solutions, including CRM, HRM, orders, calculation, work preparation, inventory management, forecasting, financial modules, planning of people and vehicles, fully integrated e-commerce websites. , Planning tools and Fleet management solutions.</p>
      </div>

      <picture class="block">
        <source srcset="../assets/img/naiton-oopbp.webp 2x, ../assets/img/naiton-oopbp.webp 1x">
        <img src="../assets/img/naiton-oopbp.png" width="1074" height="512" alt="in addition all our solutions can be fully used via the cloud from home or mobile on a pc, laptop or smart phone" class="w-full object-cover">
       </picture>
    </div>
  </div>

  <hr class="border-t my-12">

  <div class="flex lg-down:flex-wrap md:gap-x-6 lg-down:space-y-6">
    <div class="w-full lg:w-3/12">
      <h3>One data model in which all customer processes are combined</h3>
    </div>

    <div class="w-full lg:w-9/12 space-y-12">
      <div class="space-y-3">
        <p>The ultimate goal is to create an environment with one data model in which all customer processes are combined, without all kinds of difficult connections. Users therefore no longer have to work with different software packages.</p>

        <p>This ensures optimal software integration of departments, meaning less time is lost on unnecessary communication. Your employees can now fully focus on the activities that actually contribute to the operating result.</p>
      </div>

      <picture class="block">
        <source srcset="../assets/img/odmwacpac.webp 2x, ../assets/img/odmwacpac.webp 1x">
        <img src="../assets/img/odmwacpac.png" width="840" height="402" alt="one data model in which all customer processes are combined" class="w-full object-cover">
       </picture>

       <p>Naiton's software is now used by hundreds of customers, with thousands of users. No costs are charged for the software modules and no (monthly) license fees are charged. How is that possible? Ask us!</p>
    </div>
  </div>

  <hr class="border-t mt-12">

  {% include 'acquainted.njk' %}
</section>
