<div class="relative before:content-[''] before:absolute before:w-full before:h-full md:before:h-1/2 before:left-0 before:top-0 before:bg-accent before:z-0 overflow-hidden">
  <div style="background-image: url(../assets/img/nbswo-gr.svg)" class="pt-12 relative space-y-12 bg-no-repeat bg-top">
    <h2 class="text-white max-w-[80%] mx-auto">Would you like to get acquainted with Nation Business Suite without&nbsp;obligation?</h2>

    <div class="flex md-down:flex-col justify-center md:space-x-4 md-down:space-y-4">
      <a href="tel:{{site.phone}}" class="btn md-down:mx-auto bg-white">Request a demo</a>
      <a href="tel:{{site.phone}}" class="btn md-down:mx-auto bg-white">or call 020&nbsp;893&nbsp;2732</a>
    </div>

    <picture class="block">
      <source srcset="../assets/img/nbswo.webp 2x, ../assets/img/nbswo.webp 1x" />
      <img src="../assets/img/nbswo.png" width="1070" height="856" alt="would you like to get acquainted with Nation Business Suite without obligation" class="w-full max-w-[80%] mx-auto object-cover" />
    </picture>
  </div>
</div>
