<section class="container">
  <div class="relative ">
    <div class="swiper projects-swiper w-full">
      <div class="swiper-wrapper">
        {%- for post in collections.projectsMedia -%}
        <picture class="swiper-slide">{{ post.templateContent }}</picture>
        {%- endfor -%}
      </div>
    </div>

    <div class="absolute z-20 top-1/2 -translate-y-1/2 w-full flex justify-between">
      <button class="projects-navigation__prev w-10 h-10 text-white bg-accent opacity-50 hover:opacity-100 flex items-center justify-center disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-25 transition" aria-label="previous project">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
      </button>

      <button class="projects-navigation__next w-10 h-10 text-white bg-accent opacity-50 hover:opacity-100 flex items-center justify-center disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-25 transition" aria-label="next project">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
  </div>
</section>
