variables:
  ErrorActionPreference: stop
  SOURCE_DIR: 'dist\'
  WEBSITE_BRANCH: 'main'
  WEBSITE_BASEHOST: '.dev.naiton.com'
  WEBSITE_PROD_BASEHOST: '.db.naiton.com'

stages:
  - deploy

Dev-Deploy:
 tags:
   - NaitonWebDevSrv
 stage: deploy
 rules:
     - if: '$CI_COMMIT_BRANCH == $WEBSITE_BRANCH'
 script:
   - |
     #Set pre-build variables
     $WEBSITE_FULLNAME = "webdev-{0}-{1}" -f $CI_PROJECT_ROOT_NAMESPACE, $CI_PROJECT_NAME
     $WEBSITE_DIR = "C:\WebSites\" + $WEBSITE_FULLNAME
     $WEBSITE_HOST = $CI_PROJECT_NAME + $WEBSITE_BASEHOST

     # Display variables
     Write-Host ("SOURCE_DIR = {0}" -f $SOURCE_DIR)
     Write-Host ("WEBSITE_BRANCH = {0}" -f $WEBSITE_BRANCH)
     Write-Host ("WEBSITE_DIR = {0}" -f $WEBSITE_DIR)
     Write-Host ("WEBSITE_FULLNAME = {0}" -f $WEBSITE_FULLNAME)
     Write-Host ("WEBSITE_HOST = {0}" -f $WEBSITE_HOST)

     # Create destination folder.
     $folderExists = Test-Path -Path $WEBSITE_DIR
     if ($folderExists -eq $false) {
       New-Item -Path $WEBSITE_DIR -ItemType Directory
     }

     # Copy source files to website physical path
     robocopy $SOURCE_DIR $WEBSITE_DIR /E /COPYALL

     Import-Module WebAdministration

     $website = Get-Website -Name $WEBSITE_FULLNAME
     if ($website -eq $null -or $website -eq '') {
       New-Website -Name $WEBSITE_FULLNAME -HostHeader $WEBSITE_HOST -PhysicalPath $WEBSITE_DIR
     }

Prod-Prepare:
  tags:
    - NaitonWebDevSrv
  stage: deploy
  rules:
      - if: $CI_COMMIT_TAG =~ /^v\d+(\.\d+){1,2}$/
  script:
    - |
      Write-Host ("Prepare deploy for {0}" -f $CI_COMMIT_TAG)
  artifacts:
    name: "RELEASE-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA"
    when: always
    expire_in: 1 hour
    paths:
     - $SOURCE_DIR

Prod-Deploy:
  variables:
    GIT_STRATEGY: none
  tags:
    - NaitonWebSrv
  stage: deploy
  rules:
      - if: $CI_COMMIT_TAG =~ /^v\d+(\.\d+){1,2}$/
  script:
    - |
      #Set pre-build variables
      $WEBSITE_FULLNAME = "gitlab-deploy-{0}-{1}" -f $CI_PROJECT_ROOT_NAMESPACE, $CI_PROJECT_NAME
      $WEBSITE_DIR = "C:\WebSites\" + $WEBSITE_FULLNAME
      $WEBSITE_HOST = "www.navitas.nl"

      # Display variables
      Write-Host ("SOURCE_DIR = {0}" -f $SOURCE_DIR)
      Write-Host ("WEBSITE_BRANCH = {0}" -f $WEBSITE_BRANCH)
      Write-Host ("WEBSITE_DIR = {0}" -f $WEBSITE_DIR)
      Write-Host ("WEBSITE_FULLNAME = {0}" -f $WEBSITE_FULLNAME)
      Write-Host ("WEBSITE_HOST = {0}" -f $WEBSITE_HOST)

      # Create destination folder.
      $folderExists = Test-Path -Path $WEBSITE_DIR
      if ($folderExists -eq $false) {
        New-Item -Path $WEBSITE_DIR -ItemType Directory
      }

      # Copy source files to website physical path
      robocopy $SOURCE_DIR $WEBSITE_DIR /E /COPYALL

      Import-Module WebAdministration

      $website = Get-Website -Name $WEBSITE_FULLNAME
      if ($website -eq $null -or $website -eq '') {
        New-Website -Name $WEBSITE_FULLNAME -HostHeader $WEBSITE_HOST -PhysicalPath $WEBSITE_DIR
      }
  needs:
    - job: Prod-Prepare
  dependencies:
    - Prod-Prepare

